.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.prose {
  line-height: 1.5;
}

.prose h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.prose h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.prose h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.prose p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose strong {
  font-weight: 600;
}

.prose em {
  font-style: italic;
}

.prose li {
  margin-bottom: 0.25rem;
}
